<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="data_source=C:\Sqlite\db\test.db;Pooling=true;FailIfMissing=false;Max Pool Size=10" />
    <add name="oracle" connectionString="User ID=czj;Password=123456;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = 127.0.0.1)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = orcl)))" />
    <add name="mysql" connectionString="server=localhost;database=mysql;userid=root;password=123456" />
  </connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>